<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header text-center">
        <img src="assets/images/afecadLogo.jpg" />
      </div>
      <div class="card-body">
        <div class="steps clearfix">
          <ul role="tablist">
            <li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a id="signup-form-t-0"
                href="#signup-form-h-0" aria-controls="signup-form-p-0"><span class="current-info audible"> </span><span
                  class="title">
                  <span class="icon"><i class="fa fa-fw fa-user"></i></span>
                  <span class="title_text">Basic Details</span>
                </span></a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true"><a id="signup-form-t-1" href="#signup-form-h-1"
                aria-controls="signup-form-p-1"><span class="title">
                  <span class="icon"><i class="fa fa-fw fa-book"></i></span>
                  <span class="title_text">Select Course</span>
                </span></a>
            </li>
            <!-- <li role="tab" class="disabled" aria-disabled="true"><a id="signup-form-t-2" href="#signup-form-h-2" aria-controls="signup-form-p-2"><span class="title"> -->
            <!-- <span class="icon"><i class="ti-star"></i></span> -->
            <!-- <span class="title_text">Offical</span> -->
            <!-- </span></a></li> -->
            <li role="tab" class="disabled last" aria-disabled="true"><a id="signup-form-t-3" href="#signup-form-h-3"
                aria-controls="signup-form-p-3"><span class="title">
                  <span class="icon"><i class="fa fa-fw fa-dollar"></i></span>
                  <span class="title_text">Payment</span>
                </span></a>
            </li>
          </ul>
        </div>
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First name</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp"
                  placeholder="Enter last name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-left col-6"> 
              <!-- <a class="btn btn-primary" href="login.html">Next</a> -->
            </div>
            <div class="text-right col-6">
              <a class="btn btn-primary" [routerLink]="['/login']">Next</a>
            </div>
          </div>

        </form>
        <div class="text-center">
          <a class="d-block small mt-3" [routerLink]="['/login']">Login Page</a>
          <a class="d-block small" href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>